# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# My ignored
/dsl*
/Tes*
luhn.cpp
/P*/Mate*
/P*/Cl*
/P*/Ve*
*.tar.*
*_check*
test*
/P2/Makefile
/P3/Makefile
/P3/ejemplo*
